:root {
  // font-weight
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;

  // components color
  --goTop-bg: black;
  --goTop-hover-bg: #222222;
  --nav-ham: #222222;
  --nav-hover: #222222;
}